# ========== BACKEND (ASP.NET Core) ==========
# .NET build folders

**/bin/
**/obj/

# User secrets (nếu dùng)
**/secrets.json

# VSCode
.vscode/
*.user
*.suo
*.log
*.db
*.db-shm
*.db-wal
.vs/
.env

# ========== FRONTEND (React + Node) ==========
node_modules/
dist/
build/
.env.local
.env.*.local

# ========== OS / TOOLING ==========
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# ========== MISC ==========
*.bak
*.tmp
